// custom app styles
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    .share-widget-container .info {
        text-align: left;
    }
    .article-content {
        a.adcaption {
            color: #888 !important;
        }
        a.caption {
            color: #888 !important;
        }
    }

    .read-mode {
        .main-tag-container .main-tag.tag-active .interest {
            background: #e25900;
        }

        iframe[src*="https://www.facebook.com"] {
            background-color: #f1f1f1;
        }
    }


}