/* customcss*/

.placeholder-ad .wrap-ad {
    width: auto;
}

.embedly-card {
    margin: 10px auto;
    max-width: 600px;
}
body.read-mode .embedly-card {
    background: #d6d6d6;
	margin: 10px auto;
}

body.read-mode section.articlebox {
	border-bottom-color: #464545;
}

body.font-size .font-settings .info {
	font-size: 12px;
}