// custom desktop
.site-header-nav .nav-weather {
    display: none;
}
.mainpage-weatherbox {
    display: none;
}
.L-color_button:hover, .L-color_button:focus {
    background: #e25900;
    box-shadow: none;
}
.article-content {
    .article-menu {
        padding-top: 0;
        // width: 90px;
        // margin-right: 20px;
        .share {
            .item {
                &.print {
                    margin-left: 0;
                }
            }
        }
    }
    .article-share_badges {
        margin-left: 20px;
    }
    .article-body {
        margin-right: 0;
    }
    .article-info a {
        font-weight: normal;
        &:hover {
            background: none;
            text-decoration: underline;
        }
    }
}

body:not(.main-page) .container .column-articlelist .adsbygoogle ins[id*="aswift"] ins[id*="aswift"] iframe[id*="aswift"] {
    width: 680px !important;
}

// body.main-page {
//     .cimlap-grid {
//         .dark {
//             &.h500 {
//                 &.articlebox {
//                     header.boxheader:before {
//                         background: #1e1e1e;
//                     }
//                     .articleitem:last-of-type {
//                         padding-bottom: 30px;
//                     }
//                 }
//             }
//         }
//     }
// }

body:not(.main-page) {
    .container {
        // .sidebar {
        //     .ad-sticky {
        //         background: transparent;
        //     }
        // }
        .cimlap-grid {
            .dark {
                padding-bottom: 0;
                margin-bottom: 0;
                &.h500 {
                    &.articlebox {
                        header.boxheader:before {
                            background: #1e1e1e;
                        }
                        .articleitem:last-of-type {
                            padding-bottom: 30px;
                        }
                    }
                }
            }
            .h500 {
                margin-bottom: 0;
            }
        }
    }
}
//first view elements
.cimlap-grid {
    .cimlap-grid-elem {
        &.elem-805, &.elem-675, &.elem-375, &.elem-505 {
            .boxheader {
                margin: 0;
                padding: 20px;

                .info {
                    padding: 5px 35px 5px 15px;
                    position: relative;
                    line-height: 20px;
                    transition: all 0.3s ease;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 0;
                    color: #e25900;

                    &:after {
                        background: url(https://hvg.hu/Content/redesign/i/hvg-icons-sprite.svg) -42px -324px no-repeat;
                        content: '';
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        top: 50%;
                        left: auto;
                        right: -10px;
                        transform: rotate(-90deg) translateX(0px) translateY(-50%);
                        z-index: 1;
                        filter: brightness(1);
                        transform-origin: 0 center;
                        transition: all 0.3s ease;
                        padding: 0;
                        margin: 0;
                    }
                    &:hover {
                        color: #000;
                        &:after {
                            filter: brightness(0.1);
                        }
                    }

                    body.settings-sepia & {
                        &:hover {
                            color: #eaeaea;
                            &:after {
                                filter: brightness(4);
                            }
                        }
                    }
                }
                .topborder {
                    border-top: 0;
                }
                .emp {
                    border-top: 0;
                    margin-top: 0;
                    border-left: 4px solid #e25900;
                }
                .article-page &, .column-page & {
                    padding: 20px 20px 20px 0;
                }
            }
        }
        &.elem-805, &.elem-675 {
            .boxheader {
                .info {
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
            }
            .articlelist-element {
                padding-left: 20px;
                .article-page &, .column-page & {
                    padding-left: 0px;
                }
            }
            .articleitem {
                padding-bottom: 0;
                .text-holder {
                    padding-left: 20px;
                    padding-right: 20px;

                    .article-page &, .column-page & {
                        padding-left: 0px;
                    }

                    .bookmark {
                        right: 4px;
                    }
                }
                &.emphasized {
                    padding-left: 20px;
                    .text-holder {
                        padding-left: 20px;
                    }
                    .article-page &, .column-page & {
                        padding-left: 0px;
                    }
                }
            }

            .article-page &, .column-page & {
                padding-left: 20px;
            }
        }
        &.elem-375, &.elem-505 {
            .articleitem {
                &.big-pictured-article {
                    padding-top: 0;
                    &:not(:first-child) {
                        padding-top: 20px;
                    }
                }
            }
            .boxheader {
                padding: 20px 0;

                .info {
                    padding-left: 20px !important;
                }

                &:first-of-type {
                    border-bottom: 1px solid #d8d8d8;
                    margin-bottom: 20px;
                    
                    body.settings-sepia & {
                        border-bottom: 1px solid #444;
                    }
                }
            }
        }
        
        &.elem-1180 {
            &.articlebox {
                margin-bottom: 0;
                // .latest-news-box .more {
                //     body.main-page & {
                //         bottom: -2px;
                //         border-left: 5px solid #fff;
                //         border-bottom: 2px solid #fff;
                //     }
                // }
            }
        }

        &.elem-380 {
            .articlelist-element-wrap .articlelist-element:last-of-type {
                padding-bottom: 0;
            }
            .articlebox .more {
                margin-top: 40px;
                &:before {
                    content: '';
                    position: absolute;
                    left: -316px;
                    top: -20px;
                    width: 380px;
                    height: 1px;
                    pointer-events: none;
                    border-top: 1px solid #e4e4e4;
                }
            }
        }
    }

    .dark {
		.cimlap-grid-elem .boxheader:first-of-type,
		.cimlap-grid-elem .boxheader:first-of-type {
			border-bottom: 1px solid #444;
		}
	}

    &.cimlap-grid-blog {
        .cimlap-grid-elem {
            &.elem-580 {
                .cimlap-big_square_article {
                    .content {
                        height: 100%;
                        background: none;
                        padding: 0;
                        &:before {
                            left: 40px;
                        }

                    }
                    .content-inner {
                        padding: 60px 40px 35px;
                        background: rgba(0, 0, 0, 0.4);
                        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
                        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.8) 100%);
                        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.8) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
                    }

                    a.img {
                        transform: scale(1);
                        transition: transform 2s linear;
                    }
                    &:hover {
                        a.img {
                            transform: scale(1.1);
                        }
                    }
                } 
            }
        }
    }

}

.cimlap-big_square_article .content {
    bottom: 0;
}

.articleitem.timeitem {
    &.newarticle {
        background-color: transparent;
        h1 a {
            text-decoration: none;
            background-size: 0% 21px;
            background-image: linear-gradient(#ffdcbf,#ffdcbf);
            animation-name: highlighter;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-direction: alternate; 
            animation-fill-mode: forwards;

            .settings-sepia & {
                background-image: linear-gradient(#444,#444);
            }
        }

        @keyframes highlighter {
            0% {background-size: 0% 21px;}
            100% {background-size: 100% 21px;}
        }
    }
}

.article-page, .column-page, body:not(.main-page) {
    .cimlap-grid {
        &.articlelist-element-wrap {
            padding-bottom: 20px;
            // .cimlap-grid-elem {
            //     .boxheader {
            //         .info {
            //             line-height: 26px;
            //             font-size: 14px;
            //             font-weight: bold;
            //             margin-bottom: 0;
            //             color: #e25900;
            //             padding-left: 15px;
            //             padding-top: 6px;
            //         }
            //     }
            // }
        }
    }

    .cimlap-tematikus-box .articlelist-element-wrap .articlelist-element:first-child {
        padding-top: 0;
    }
    .random-article-page-box {
        justify-content: flex-start;
        padding-left: 30px;
        .article-page-widget {
            margin: 0 10px;
        }
    }
    .random-article-box-container {
        justify-content: center;
        padding: 20px 10px 0;
        .article-box-widget {
            width: 20%;
            margin: 0 10px;
        }
    }
    .article-body .random-article-page-box {
            padding-left: 0;
            margin-left: -10px;
    }
}

// .article-page {
//     .random-article-page-box {
//         padding-left: 0;
//         margin-left: -10px;
//     }
// }

.grid-item.articlebox .articlebox article.articleitem.emphasized.featured {
    border-bottom: 0;
}

.articleitem + .boxheader {
    margin-top: -1px;
    z-index: 1;
    position: relative;
    .topborder {
        border-top: 0;
    }
}

.hirdetesfelho-wrapper {
    + .articlebox {
        margin-top: 20px;
    }
    .articlebox {
        &.hirdetesfelho-lista {
            .articleitem:last-of-type {
                padding-bottom: 20px;
            }
        }
    }
}

// aside .icon-article-series {
//     color: #999;
// }

.grid-layout .grid-item .articleitem {
    border-bottom: 1px solid #d8d8d8;
    body.settings-sepia & {
        border-bottom-color: #444;
    }
    &:last-of-type {
        border-bottom-color: transparent;

        body.settings-sepia & {
            border-bottom-color: transparent;
        }
    }
}

.sidebar .latest-news-box .timeitem .text-holder {
    padding-left: 80px;
    padding-right: 20px;
}

.articlebox .timeitem .text-holder {
    padding-left: 85px;
}

.box-article .text-holder {
    background: none;
    padding-right: 0;
    .text {
        right: 0;
        padding: 50px 30px 20px;
        background: rgba(0, 0, 0, 0.4);
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.8) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.8) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
    }
}

.info span.blog-icon {
    height: 12px;
    margin: -1px 4px 0 0;
    padding-top: 1px;
    + a.uppercase {
        letter-spacing: 0.5px;
    }
}
.blog-list-box {
    .info {
        span.blog-icon {
            margin-top: 1px;
        }
        time {
            + a.uppercase {
                letter-spacing: 0.5px;
            }
        }
    }
}

.articlebox .articleitem.smallimage .text-holder .bookmark {
    top: 0;
}
.image-holder {
    margin-bottom: 10px;
}

.articlebox .articleitem *:not(.bullet)+.articleholder, 
.articlebox .articleitem *:not(.bullet)+.image-holder, 
.articlebox .articleitem *:not(.bullet)+.text-holder {
    margin-top: 0;

}

// dark mode
body.settings-sepia {
    .site-header-nav .nav-categories {
        .category-sub {
            background-color: #333;//
        }
        .category.group:hover {
            box-shadow: none;//
        }
    }

    .articlebox .articleitem.timeitem:last-of-type {
        border-bottom-color: transparent;
    }

    .cimlap-grid .cimlap-grid-elem.elem-380 .articlebox .more:before {
        border-top-color: #444444;
    }

    // .random-article-box-container {
    //     .article-box-widget {
    //         .bch-element {
    //             .bch .bch-icon, .bch.posted-text-area .bch-icon {
    //                 width: 26px;
    //                 height: 26px;
    //                 background: url(https://hvg.hu/Content/redesign/i/hvg-icons-sprite.svg) -75px -249px no-repeat;
    //                 margin-right: 0;
    //                 display: inline-block;
    //                 transform: translateY(3px) translateX(2px);
    //                 top: 0;
    //             }
    //         }
    //     }
    // }
    // .placeholder-ad {
    //     background: #1a1a1a;
    // }
    // .articlebox {
    //     .articleitem {
    //         &.timeitem:last-of-type {
    //             border-bottom: 1px solid #444;
    //         }
    //         &.big-pictured-article {
    //             border-bottom: 0;
    //         }
    //     }
    // }
    // .cimlap-grid-elem {
    //     &.home-pr-cikk-1, &.home-pr-cikk-2 {
    //         padding: 0;
    //         .articlelist-element:only-child {
    //             border-bottom: 0;
    //         }
    //     }
    // }
    // .articlelist-element-wrap {
    //     .articlelist-element {
    //         &:last-of-type {
    //             border-bottom: 0;
    //         }
    //     }
    // }
    // .cimlap-grid.home-pr-cikk-grid {
    //     background: #111111;
    //     margin: 0;
    //     padding: 0 20px;
    // }
    // .adtype-l-ribbon {
    //     background: #1a1a1a;
    // }
    // aside .icon-article-series {
    //     color: #999;
    // }
    // .newarticle {
    //     background: #111;
    // }
}

// mac safari >> ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation:portrait) {
	.site-header-nav .nav-categories .category-button {
		padding: 5px 4px;
	}
	.site-header-sponsor {
        .sponsor-header {
            margin-top: 2px;
            .sponsor-link {
                font-size: 12px;
            }
            img {
                max-width: 60px;
                filter: none;
                margin: 0 2px 0 2px;
            }
        }
	}
}

.articlelist-element {
    &.switch-article {
        img[src*="data:image/gif;base64"] {
            min-height: 150px;
        }
    }
    img[src*="data:image/gif;base64"] {
        min-height: 110px;
    }
}
.articlelist-element-wrap {
    // .articlelist-element:last-of-type {
    //     padding-bottom: 0;
    // }
    .big-pictured-article {
        img[src*="data:image/gif;base64"] {
            min-height: 230px;
        }
    }
}

// banner teszt
@media screen and (max-width: 1199px) {
    .adtype-multipanel .adtype-multipanel-wrapper .panel-position .panel-parent {
        .expand-button {
            width: 240px;
            height: 36px;
            left: 5px;
            animation: none;
            border: 0;
            border-radius: 0;
            background: transparent;
            box-shadow: none;

            &:before {
                content: '';
                transform: rotate(0);
                right: auto;
                position: absolute;
                bottom: auto;
                border-radius: 50%;
                border: 2px solid #fff;
                background: rgba(0,0,0,0.3);
                box-shadow: none;
                cursor: pointer;
                transition: none;
                z-index: 2;
                animation: none;
                font-size: 20px;
                width: 30px;
                height: 30px;
                top: 0;
                left: 0;
            }
            &:after {
                content: '';
                background: transparent;
                box-sizing: border-box;
                height: 15px;
                width: 15px;
                border-style: solid;
                border-color: white;
                border-width: 0px 2px 2px 0px;
                box-shadow: none;
                transform: rotate(45deg);
                transition: none;
                position: absolute;
                left: 9px;
                top: 6px;
                z-index: 2;
            }
        }
        .close-button {
            width: 36px;
            height: 36px;
            &:before, &:after {
                width: 24px;
                top: 15px
            }
        }
    }
    .multipanel-wide .adtype-multipanel-wrapper:hover .panel-parent.panel-basic.current + .panel-parent {
        animation: none; 
        .panel {
            animation: none;
            animation-fill-mode: none;
        }
    }
}