/* custom desktop */
.site-header-nav .nav-weather {
    display: none;
}
.mainpage-weatherbox {
    display: none;
}
.L-color_button:hover, .L-color_button:focus {
    background: #e25900;
    box-shadow: none;
}
.article-content {
    .article-menu {
        padding-top: 0;
        width: 112px;
        margin-right: 20px;
        .share {
            .item {
                &.print {
                    margin-left: 0;
                }
            }
        }
    }
    .article-share_badges {
        margin-left: 20px;
    }
    .article-body {
        margin-right: 0;
    }
}
.footer .icon-huawei span {
    width: 28px;
    height: 28px;
}
body.main-page {
    .cimlap-grid {
        .dark {
            &.h500 {
                &.articlebox {
                    header.boxheader:before {
                        background: #1e1e1e;
                    }
                    .articleitem:last-of-type {
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
}

body:not(.main-page) {
    .container {
        .sidebar {
            .ad-sticky {
                background: transparent;
            }
        }
        .cimlap-grid {
            .dark {
                padding-bottom: 0;
                margin-bottom: 0;
                &.h500 {
                    &.articlebox {
                        header.boxheader:before {
                            background: #1e1e1e;
                        }
                        .articleitem:last-of-type {
                            padding-bottom: 30px;
                        }
                    }
                }
            }
            .h500 {
                margin-bottom: 0;
            }
        }
    }
}

.cimlap-grid {
    .cimlap-grid-elem {
        &.elem-675 {
            .boxheader {
                .info {
                    padding-left: 15px;
                    padding-top: 6px;
                }
            }
            .articleitem {
                padding-bottom: 0;
                .text-holder {
                    padding-left: 20px;
                    padding-right: 0;
                }
                &.emphasized {
                    padding-left: 20px;
                }
            }
        }

        &.elem-805 {
            .boxheader {
                margin-bottom: 0;
                .info {
                    padding: 5px 0 5px 20px;
                }
            }
            .articleitem {
                padding-bottom: 0;
                .text-holder {
                    padding-left: 20px;
                    padding-right: 0;
                }
                &.emphasized {
                    padding-left: 20px;
                }
            }
        }
    }
}

.article-page, .column-page, body:not(.main-page) {
    .cimlap-grid {
        &.articlelist-element-wrap {
            padding-bottom: 20px;
            .cimlap-grid-elem {
                .boxheader {
                    .info {
                        line-height: 26px;
                        font-size: 14px;
                        font-weight: bold;
                        margin-bottom: 0;
                        color: #e25900;
                        padding-left: 15px;
                        padding-top: 6px;
                    }
                }
            }
        }
    }
}

.grid-item.articlebox .articlebox article.articleitem.emphasized.featured {
    border-bottom: 0;
}
.articleitem + .boxheader {
    margin-top: -1px;
    z-index: 1;
    position: relative;
    .topborder {
        border-top: 0;
    }
}
.hirdetesfelho-wrapper {
    + .articlebox {
        margin-top: 20px;
    }
    // + .cimlap-grid-elem.elem-380 .boxheader {
    //     margin-top: 20px;
    // }
    .articlebox {
        &.hirdetesfelho-lista {
            .articleitem:last-of-type {
                padding-bottom: 20px;
            }
        }
    }
}
.h500 {
    min-height: 516px;
    height: auto !important;
}

.grid-layout {
    margin-bottom: 20px;
}

aside .icon-article-series {
    color: #999;
}

// dark mode
body.settings-sepia {
    .site-header-nav .nav-categories {
        .category-sub {
            background-color: #333;
        }
        .category.group:hover {
            box-shadow: none;
        }
    }
    .placeholder-ad {
        background: #1a1a1a;
    }
    .articlebox {
        .articleitem {
            &.timeitem:last-of-type {
                border-bottom: 1px solid #444;
            }
            &.big-pictured-article {
                border-bottom: 0;
            }
        }
    }
    .cimlap-grid-elem {
        &.home-pr-cikk-1, &.home-pr-cikk-2 {
            padding: 0;
            .articlelist-element:only-child {
                border-bottom: 0;
            }
        }
    }
    .articlelist-element-wrap {
        .articlelist-element {
            &:last-of-type {
                border-bottom: 0;
            }
        }
    }
    .cimlap-grid.home-pr-cikk-grid {
        background: #111111;
        margin: 0;
        padding: 0 20px;
    }
    .adtype-l-ribbon {
        background: #1a1a1a;
    }
    aside .icon-article-series {
        color: #999;
    }
}

// mac safari >> ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation:portrait) {
	.site-header-nav .nav-categories .category-button {
		padding: 5px 4px;
	}
	.site-header-sponsor {
        .sponsor-header {
            margin-top: 2px;
            .sponsor-link {
                font-size: 12px;
            }
            img {
                max-width: 60px;
                filter: none;
                margin: 0 2px 0 2px;
            }
        }
	}
}

// .cimlap-grid.articlelist-element-wrap +.cimlap-grid.articlelist-element-wrap {
//     margin-top: 30px;
// }

/* PT doboz */
// .block-ms-box2 {
//     padding: 0px 15px 20px 15px;
//     border: 0;
//     position: relative;
//     margin: 20px 0 30px;
//     background: #fecc00!important;
//     box-shadow: 0px 0px 10px rgba(0,0,0,0.2) inset;
//     display: flex;
//     flex-wrap: wrap;
//     max-width: 640px;
//     transition: all 0.5s ease;
// }
// .p-box {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 120px;
//     height: 125px;
//     overflow: hidden;
// }
// .partolo-tagsag-logo {
//     background-image: url(https://static.hvgrt.hu/kulcs/2019/partolo-logo-vektoros.png);
//     position: absolute;
//     padding: 0;
//     width: 90px !important;
//     margin: 10px 0 0 4px;
//     display: block;
//     height: auto;
//     z-index: 1;
//     background-size: cover;
//     height: 90px !important;
//     right: 24px !important;
//     top: 0px !important;
// }
// .p-shape {
//     position: absolute;
//     height: 121px;
//     width: 223px;
//     background-color: #ffffff;
//     border-radius: 150px;
//     transform: rotate(0deg) skew(0deg) translateX(-111px) translateY(-5px);
//     box-shadow: 3px 2px 8px rgba(0,0,0,0.2);
// }
// .partolo-tagsag-content-box {
//     padding: 0;
//     width: 100%;
// }
// .block-ms-box-h1 {
//     margin: 0 !important;
//     font-family: 'PT Sans', sans-serif !important;
//     font-size: 24px !important;
//     color: #222222;
//     font-weight: bold;
//     border: 0;
//     padding: 10px 10px 0 122px;
//     min-height: 116px;
//     display: flex;
//     align-items: center;
// }
// .block-ms-box-div {
//     display: flex;
//     width: 100%;
// }
// .block-ms-box-span {
//     display: block;
//     font-size: 16px;
//     margin: 10px 0 0;
//     line-height: 22px !important;
//     font-family: 'PT Sans', sans-serif;
//     font-weight: 400;
//     color: #222222;
//     width: 75%;
//     padding: 0 15px 0 0;
// }
// .partolo-tagsag-cover-box {
//     border-left: 1px solid #fff;
//     padding-left: 15px;
//     width: 25%;
//     text-align: center;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     max-width: 190px;
//     min-width: 170px;
//     img {
//         width: 154px;
//         max-width: 100%;
//         display: block;
//         height: auto;
//         margin-bottom: 0;
//         order: 1;
//     }
// }
// .btn-class3 {
//     padding-top: 0;
//     max-width: 154px;
//     margin: 20px 0 0;
//     display: flex;
//     justify-content: start;
//     flex-wrap: wrap;
//     order: 2;

//     a {
//         &:nth-child(2) {
//             margin: 0 0 10px 0;
//         }
//         &:last-child {
//             margin: 0;
//         }
//     }
// }
// .block-ms-box-btn2 {
//     background-color: #5b5b5b !important;
//     color: #fff !important;
//     padding: 0 5px;
//     text-decoration: none !important;
//     font: bold 14px/1 'PT Sans', sans-serif;
//     line-height: 38px;
//     border-radius: 5px;
//     box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.15);
//     transition: all 0.5s ease;
//     margin-bottom: 10px;
//     width: 100%;
// }
// @media all and (-ms-high-contrast:active), all and (-ms-high-contrast:none) {
// 	.block-ms-box-h1 {
// 		line-height: 116px;
// 	}
// }

/* banner teszt */
@media screen and (max-width: 1199px) {
    .adtype-multipanel .adtype-multipanel-wrapper .panel-position .panel-parent {
        .expand-button {
            width: 240px;
            height: 36px;
            left: 5px;
            animation: none;
            border: 0;
            border-radius: 0;
            background: transparent;
            box-shadow: none;

            &:before {
                content: '';
                transform: rotate(0);
                right: auto;
                position: absolute;
                bottom: auto;
                border-radius: 50%;
                border: 2px solid #fff;
                background: rgba(0,0,0,0.3);
                box-shadow: none;
                cursor: pointer;
                transition: none;
                z-index: 2;
                animation: none;
                font-size: 20px;
                width: 30px;
                height: 30px;
                top: 0;
                left: 0;
            }
            &:after {
                content: '';
                background: transparent;
                box-sizing: border-box;
                height: 15px;
                width: 15px;
                border-style: solid;
                border-color: white;
                border-width: 0px 2px 2px 0px;
                box-shadow: none;
                transform: rotate(45deg);
                transition: none;
                position: absolute;
                left: 9px;
                top: 6px;
                z-index: 2;
            }
        }
        .close-button {
            width: 36px;
            height: 36px;
            &:before, &:after {
                width: 24px;
                top: 15px
            }
        }
    }
    .multipanel-wide .adtype-multipanel-wrapper:hover .panel-parent.panel-basic.current + .panel-parent {
        animation: none; 
        .panel {
            animation: none;
            animation-fill-mode: none;
        }
    }
}