/* custom desktop */
.site-header-nav .nav-weather {
  display: none;
}
.mainpage-weatherbox {
  display: none;
}
.article-content .article-menu {
  padding-top: 0;
  width: 112px;
  margin-right: 20px;
}
.article-content .article-menu .share .item.print {
  margin-left: 0;
}
.article-content .article-share_badges {
  margin-left: 20px;
}
.article-content .article-body {
  margin-right: 0;
}
.footer .icon-huawei span {
  width: 28px;
  height: 28px;
}
body.main-page .cimlap-grid .dark.h500.articlebox header.boxheader:before {
  background: #1e1e1e;
}
body.main-page .cimlap-grid .dark.h500.articlebox .articleitem:last-of-type {
  padding-bottom: 30px;
}
body:not(.main-page) .container .cimlap-grid .dark {
  padding-bottom: 0;
  margin-bottom: 0;
}
body:not(.main-page) .container .cimlap-grid .dark.h500.articlebox header.boxheader:before {
  background: #1e1e1e;
}
body:not(.main-page) .container .cimlap-grid .dark.h500.articlebox .articleitem:last-of-type {
  padding-bottom: 30px;
}
body:not(.main-page) .container .cimlap-grid .h500 {
  margin-bottom: 0;
}
.cimlap-grid .cimlap-grid-elem.elem-675 .boxheader .info {
  padding-left: 15px;
  padding-top: 6px;
}
.cimlap-grid .cimlap-grid-elem.elem-675 .articleitem {
  padding-bottom: 0;
}
.cimlap-grid .cimlap-grid-elem.elem-675 .articleitem .text-holder {
  padding-left: 20px;
  padding-right: 0;
}
.cimlap-grid .cimlap-grid-elem.elem-675 .articleitem.emphasized {
  padding-left: 20px;
}
.cimlap-grid .cimlap-grid-elem.elem-805 .boxheader {
  margin-bottom: 0;
}
.cimlap-grid .cimlap-grid-elem.elem-805 .boxheader .info {
  padding: 5px 20px 5px 20px;
}
.cimlap-grid .cimlap-grid-elem.elem-805 .articleitem {
  padding-bottom: 0;
}
.cimlap-grid .cimlap-grid-elem.elem-805 .articleitem .text-holder {
  padding-left: 20px;
  padding-right: 0;
}
.cimlap-grid .cimlap-grid-elem.elem-805 .articleitem.emphasized {
  padding-left: 20px;
}
.article-page .cimlap-grid.articlelist-element-wrap,
.column-page .cimlap-grid.articlelist-element-wrap {
  padding-bottom: 20px;
}
.article-page .cimlap-grid.articlelist-element-wrap .cimlap-grid-elem .boxheader .info,
.column-page .cimlap-grid.articlelist-element-wrap .cimlap-grid-elem .boxheader .info {
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  color: #e25900;
  padding-left: 15px;
  padding-top: 6px;
}
.grid-item.articlebox .articlebox article.articleitem.emphasized.featured {
  border-bottom: 0;
}
.articleitem + .boxheader {
  margin-top: -1px;
  z-index: 1;
  position: relative;
}
.articleitem + .boxheader .topborder {
  border-top: 0;
}
.hirdetesfelho-wrapper + .articlebox {
  margin-top: 20px;
}
.h500 {
  min-height: 516px;
  height: auto !important;
}
body.settings-sepia .placeholder-ad {
  background: #1a1a1a;
}
body.settings-sepia .articlebox .articleitem.timeitem:last-of-type {
  border-bottom: 1px solid #444;
}
body.settings-sepia .articlebox .articleitem.big-pictured-article {
  border-bottom: 0;
}
body.settings-sepia .cimlap-grid-elem.home-pr-cikk-1,
body.settings-sepia .cimlap-grid-elem.home-pr-cikk-2 {
  padding: 0;
}
body.settings-sepia .cimlap-grid-elem.home-pr-cikk-1 .articlelist-element:only-child,
body.settings-sepia .cimlap-grid-elem.home-pr-cikk-2 .articlelist-element:only-child {
  border-bottom: 0;
}
body.settings-sepia .articlelist-element-wrap .articlelist-element:last-of-type {
  border-bottom: 0;
}
body.settings-sepia .cimlap-grid.home-pr-cikk-grid {
  background: #111111;
  margin: 0;
  padding: 0 20px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: portrait) {
  .site-header-nav .nav-categories .category-button {
    padding: 5px 4px;
  }
  .site-header-sponsor .sponsor-header {
    margin-top: 2px;
  }
  .site-header-sponsor .sponsor-header .sponsor-link {
    font-size: 12px;
  }
  .site-header-sponsor .sponsor-header img {
    max-width: 60px;
    filter: none;
    margin: 0 2px 0 2px;
  }
}
/* PT doboz */
/* banner teszt */
@media screen and (max-width: 1199px) {
  .adtype-multipanel .adtype-multipanel-wrapper .panel-position .panel-parent .expand-button {
    width: 240px;
    height: 36px;
    left: 5px;
    animation: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
  .adtype-multipanel .adtype-multipanel-wrapper .panel-position .panel-parent .expand-button:before {
    content: '';
    transform: rotate(0);
    right: auto;
    position: absolute;
    bottom: auto;
    border-radius: 50%;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
    cursor: pointer;
    transition: none;
    z-index: 2;
    animation: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
  }
  .adtype-multipanel .adtype-multipanel-wrapper .panel-position .panel-parent .expand-button:after {
    content: '';
    background: transparent;
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    box-shadow: none;
    transform: rotate(45deg);
    transition: none;
    position: absolute;
    left: 9px;
    top: 6px;
    z-index: 2;
  }
  .adtype-multipanel .adtype-multipanel-wrapper .panel-position .panel-parent .close-button {
    width: 36px;
    height: 36px;
  }
  .adtype-multipanel .adtype-multipanel-wrapper .panel-position .panel-parent .close-button:before,
  .adtype-multipanel .adtype-multipanel-wrapper .panel-position .panel-parent .close-button:after {
    width: 24px;
    top: 15px;
  }
  .multipanel-wide .adtype-multipanel-wrapper:hover .panel-parent.panel-basic.current + .panel-parent {
    animation: none;
  }
  .multipanel-wide .adtype-multipanel-wrapper:hover .panel-parent.panel-basic.current + .panel-parent .panel {
    animation: none;
    animation-fill-mode: none;
  }
}
