/* cms admin custom css */
body.cmsadmin.hvg-mobile-admin-page-layout .hvg .scroller .grid-view .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
body.cmsadmin.hvg-mobile-admin-page-layout .hvg .scroller .grid-view .grid-article {
  display: none;
}
body.cmsadmin.hvg-mobile-admin-page-layout .hvg .scroller .grid-view .grid-article .text-holder .info {
  display: flex;
}
body.cmsadmin.hvg-mobile-admin-page-layout .hvg .scroller .grid-view .grid-article.full-image-article-box {
  display: block;
}
body.cmsadmin.hvg-mobile-admin-page-layout .hvg .scroller .container-adzone {
  float: none;
  width: 100%;
  margin: 20px 0;
}
body.cmsadmin.hvg-mobile-admin-page-layout .hvg .scroller .boxheader.blog-header:before {
  width: 70px;
}
body.cmsadmin.hvg-mobile-admin-page-layout .hvg .scroller .boxheader.blog-header:after {
  width: 68px;
}
/* pt doboz admin */
.hvg .block-ms-box2 {
  padding: 0px 15px 20px 15px;
  border: 0;
  position: relative;
  margin: 20px 0 30px;
  background: #fecc00 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) inset;
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  transition: all 0.5s ease;
}
.hvg .p-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 125px;
  overflow: hidden;
}
.hvg .partolo-tagsag-logo {
  background-image: url(https://static.hvgrt.hu/kulcs/2019/partolo-logo-vektoros.png);
  position: absolute;
  padding: 0;
  width: 90px !important;
  margin: 10px 0 0 4px;
  display: block;
  height: auto;
  z-index: 1;
  background-size: cover;
  height: 90px !important;
  right: 24px !important;
  top: 0px !important;
}
.hvg .p-shape {
  position: absolute;
  height: 121px;
  width: 223px;
  background-color: #ffffff;
  border-radius: 150px;
  transform: rotate(0deg) skew(0deg) translateX(-111px) translateY(-5px);
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.2);
}
.hvg .partolo-tagsag-content-box {
  padding: 0;
  width: 100%;
}
.hvg .block-ms-box-h1 {
  margin: 0 !important;
  font-family: 'PT Sans', sans-serif !important;
  font-size: 24px !important;
  color: #222222;
  font-weight: bold;
  border: 0;
  padding: 10px 10px 0 122px;
  min-height: 116px;
  display: flex;
  align-items: center;
}
.hvg .block-ms-box-div {
  display: flex;
  width: 100%;
}
.hvg .block-ms-box-span {
  display: block;
  font-size: 16px;
  margin: 10px 0 0;
  line-height: 22px !important;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #222222;
  width: 75%;
  padding: 0 15px 0 0;
}
.hvg .partolo-tagsag-cover-box {
  border-left: 1px solid #fff;
  padding-left: 15px;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 190px;
  min-width: 170px;
}
@media screen and (max-width: 640px) {
  .hvg .partolo-tagsag-cover-box {
    border-left: 0;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-width: 170px;
    align-items: center;
  }
}
.hvg .partolo-tagsag-cover-box img {
  width: 154px;
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 0;
  order: 1;
}
@media screen and (max-width: 640px) {
  .hvg .partolo-tagsag-cover-box img {
    width: auto;
    max-width: 30%;
    display: block;
    height: auto;
    order: 2;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .hvg .partolo-tagsag-cover-box img {
    max-width: 40%;
  }
}
.hvg .btn-class3 {
  padding-top: 0;
  max-width: 154px;
  margin: 20px 0 0;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  order: 2;
}
.hvg .btn-class3 a:nth-child(2) {
  margin: 0 0 10px 0;
}
.hvg .btn-class3 a:last-child {
  margin: 0;
}
.hvg .block-ms-box-btn2 {
  background-color: #5b5b5b !important;
  color: #fff !important;
  padding: 0 5px;
  text-decoration: none !important;
  font: bold 14px/1 'PT Sans', sans-serif;
  line-height: 38px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  margin-bottom: 10px;
  width: 100%;
}
.hvg .p-box,
.hvg .p-shape,
.hvg .partolo-tagsag-logo {
  position: absolute !important;
}
.hvg .p-shape {
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .hvg .block-ms-box-h1 {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 640px) {
  .hvg .partolo-tagsag-content-box {
    width: 100%;
  }
  .hvg .block-ms-box-h1 {
    font-size: 21px !important;
    padding: 0 0 0 110px;
  }
  .hvg .pt-box {
    margin: 0 -20px;
  }
  .hvg .btn-class3 {
    min-width: 135px;
    padding-top: 0;
    max-width: 50%;
    margin: 0;
    display: flex;
    flex-direction: row;
    order: 2;
  }
  .hvg .block-ms-box-btn2 {
    padding: 0 5px;
  }
  .hvg .block-ms-box-div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .hvg .block-ms-box-span {
    margin: 10px 0;
    padding: 0;
    width: 100%;
  }
}
@media all and (-ms-high-contrast: active), all and (-ms-high-contrast: none) {
  .hvg .block-ms-box-h1 {
    line-height: 116px;
  }
}
