// custom app styles
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    .share-widget-container .info {
        text-align: left;
    }
    a.adcaption {
        color: #888 !important;
        text-transform: uppercase;
    }
    a.caption {
        color: #888 !important;
        text-transform: uppercase;
    }
}