//customcss
html, 
body {
    -webkit-tap-highlight-color: rgba(255,102,0,0.2);
}
button, .button, input[type=button] {
    background: #e25900;
}

.adtype-tagbox {
	.articlebox {
		.articlebox {
            .articleitem {
                @media screen and (min-width: 768px) {
                    padding: 20px;
                    &:first-of-type {
                        padding: 0;
                    }
                }
            }

            &:first-of-type {
                .more {
                    margin: 20px auto !important;
                }
            }
            //.column-page & {
            &.tag-box {
                .articleitem {
                    .text-holder {
                        p, .article-lead {
                            padding-bottom: 0;
                        }
                    }
                    &:first-of-type {
                        padding: 0;
                        .text-holder {
                            padding: 0 20px 20px;
                        }
                    }
                }
            }
            //}
        }
    }
    @media screen and (min-width: 992px) {
        max-width: 690px;
        margin: 0 auto;
    }
}
.adtype-tagbox, .adtype-tematic {
	.caption {
        border: 0;
    }
}

.author-page-header .text-holder a {
    display: block;
}

// boxheader home first of type
.placeholder-ad, .article-page .article-view-wrap {
    + .boxheader {
        margin: 0 auto;
        padding: 10px 10px 10px 20px;
        max-width: 460px;
        background: transparent;

        .info {
            padding: 0 35px 0 15px !important;
            background-color: transparent;
            color: #e25900;
            text-decoration: none;
            transition: all .5s ease;
            position: relative;
            font-family: 'PT Sans',Arial,sans-serif;
            line-height: 20px;
            font-size: 14px;
            text-transform: uppercase;
            margin-top: 0;

            body.read-mode & {
                color: #f67a17;
            }

            &:after {
                background: url(https://static.hvgrt.hu/img/hvg-icons-sprite4.svg) -9px -324px no-repeat;
                content: '';
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                left: auto;
                right: 10px;
                transform: rotate(0deg) translateX(0px) translateY(-50%);
                z-index: 1;
                filter: none;
                transform-origin: 0 center;

                body.read-mode & {
                    background: url(https://static.hvgrt.hu/img/hvg-icons-sprite4.svg) -42px -350px no-repeat;
                    right: 10px;
                    transform: rotate(0deg) translateX(0px) translateY(-50%);
                    filter: none;
                }
            }
        }

        .emp {
            display: block;
            border-top: 0;
            margin-top: 0;
        }

        .topborder {
            border-top: 0;
            border-left: 4px solid #e25900;

            body.read-mode & {
                border-top: 0;
                border-left-color: #f67a17;
            }
        }

        &:first-of-type {

        }

        &:nth-of-type(2) {
            border-bottom: 1px solid #d8d8d8;
            margin-bottom: 10px;
            width: calc(100% - 40px);
            padding: 20px 0;
            max-width: 100%;

            body.read-mode & {
                border-top: 0;
                border-bottom: 1px solid #464545;
            }

            @media screen and (min-width: 768px) {
                width: calc(100% - 60px);
            }
            @media screen and (min-width: 992px) {
                width: 100%;
                padding: 20px 0;
                max-width: 690px;
            }
        }
    }
}

.article-page .article-view-wrap + .boxheader:first-of-type {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        width: calc(100% - 60px);
    }
    @media screen and (min-width: 992px) {
        width: 100%;
        padding: 20px 0;
        max-width: 690px;
    }
}

body {

    &.article-page {
        .main-tag-container {
            @media screen and (min-width: 768px) {
                padding: 20px 0 0 0;
            }
            @media screen and (min-width: 992px) {
                margin: 0;
                padding: 15px 0 0 0;
            }
        }
        .article-content p {
            clear: both;
        }
    }

    &:not(.article-page) .main-tag-container {
        margin: 0;
        padding-bottom: 0;

        @media screen and (min-width: 768px) {
            padding: 20px 30px 0;
            margin: 0;
        }
        @media screen and (min-width: 992px) {
            padding: 20px 0 0;
            margin: 0 auto;
        }
    }

    &.read-mode {
        .embedly-card {
            background: #d6d6d6;
            //margin: 10px auto;
        }
        section.articlebox {
            border-bottom-color: #464545;
        }
        .article-content {
            .mobile-pr-article a.caption {
                color: #888;
            }
            .adtype-tematic a {
                color: #fff;
            }
        }
        .placeholder-ad:first-child {
            padding-top: 0;
        }
        .adtype-tagbox {
            section.articlebox.tag-box:after {
                border-bottom: 0;
            }
            .articlebox {
                border-bottom: 0;
                padding: 0;
            }
        }
        .m-breadcrumb {
            padding: 0 !important;
        }
    }

    &.font-size {
        .font-settings .info {
        font-size: 12px;
        }
        .site-header-sponsor a.sponsor-link {
            font-size: 14px;
        }
    }

}
.font-settings {
    width: 100%;
}
.article-content .adtype-tematic a {
    color: #222;
}
.article-content .mobile-pr-article {
    a:not(.caption) {
        color: #222;
    }
    a.caption {
        color: #888;
    }
}
.footer .icon-huawei {
    width: 27px;
    height: 30px;
}

/* blog no image */
.grid-view {
    .grid-article-blog {
        .image-holder {
            a {
                background-position: 50% 50%;
                background-size: 120%;
                @media screen and (min-width: 768px) {
                    background-position: 50% 50%;
                    background-size: 120%;
                }
                &.no-image {
                    @media screen and (min-width: 768px) {
                        background-image: url("https://m.hvg.hu/Content/hvgmobile/i/hvg-hu-logo.svg") !important;
						background-size: 40%;
						background-position: center center;
						background-repeat: no-repeat;
						background-color: #bbbfc0;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						width: 100%;
						display: block;
						border: 0;
						outline: none;
						box-shadow: none;
                        height: 100%;
                    }
                }
            }
            body.read-mode & {
                a.no-image {
                    background-color: #313131;
                }
            }
        }
    }
}

/* google adSense */
.adsense-dfp {
    margin: 20px 0 5px;
}

@media screen and (max-width: 359px) {
    .adsense-dfp {
        margin: 20px 0 5px -20px;
        width: 100vw;
    }
    div[id^="zone"] div[id^="div-gpt-ad"] {
        margin: 0 auto 0 -20px;
        width: 100vw !important;
    }
}

/* parallax FPA */
body {
    &.parallax-ad {
        &:before {
            content: "";
            position: fixed;
            left: 0;
            top: 50px;
            right: 0;
            bottom: 0;
            z-index: -1;
            display: block;

            @media screen and (min-width: 768px) {
                top: 200px;
                background-size: 690px;
            }
            @media screen and (min-width: 992px) {
                top: 100px;
            }
        }

        .parallax_top, .parallax_bottom {
            margin: 0;
            width: 100%;
            a {
                width: 100%;
                display: block;
            }
        }
        .parallax_top a {
            min-height: 240px;

        }
        .parallax_bottom a {
            height: 480px;
            max-height: calc(100vh - 50px);
        }

        .lead-article,
        .grid-article,
        .placeholder-ad,
        .adcaption,
        .footer {
            background-color: #fff;
        }
        .mobile-pr-article .grid-article {
            background: #f0f0f0;
        }
        .content {
            background-color: #fff;
            height: 100%;
            margin: 0;
            padding: 20px 20px 0;
        }
        .content .grid-view .info {
            margin: 0px 0px 5px 0px;
        }

        .adcaption {
            font-size: 11px;
            font-weight: bold;
            color: #888!important;
            display: block;
            text-align: left;
            margin: 0px 0 0;
            text-transform: uppercase;
            width: 100vw;
            position: relative;
            left: -20px;
            padding-left: 20px;
            padding-top: 5px;
        }

        &.column-page .adcaption,
        .scroller-latestnews .adcaption,
        .scroller-home .adcaption,
        &.article-page .article-content .parallax_bottom +.adcaption, 
        &.article-page .article-content .parallax_top +.adcaption {
            left: 0;
        }
        .rovat_fpa .adcaption {
            padding-top: 7px;
            left: 0;
        }
        &.column-nagyitas {
            .adcaption{
                padding-bottom: 5px;
            }
            .gallery-wrap{
                background: transparent;
            }
        }
        &.article-page {
            .article-content {
                .parallax_bottom +.adcaption:before, 
                .parallax_top +.adcaption:before {
                    content: "hirdetés";
                    display: block;
                }
            }
            .white__bg {
                padding: 0 20px;
            }
        }
        &.column-page {
            .parallax_bottom +.adcaption:before, 
            .parallax_top +.adcaption:before {
                content: "hirdetés";
                display: block;
            }
        }
        .list-article {
            background: #fff;
        }
        .white__bg {
            background-color: #fff;
        }
        .placeholder-ad .wrap-ad {
            width: auto;
        }
        .article-content .placeholder-ad {
            margin: 0;
        }
        .article-content p.extract {
            padding-bottom: 0px;
            background: transparent;
        }
        .more-button {
            margin: 0;
            padding: 20px 0;
            background-color: #fff;
        }
        .m-info span {
            padding-left: 20px !important;
        }

        article.grid-article[data-lazy-control="video-list"],
        article.lead-video{
            background: #fff;
        }
        .grid-article.column-list-element+div[id^="zone"] {
            padding-top: 0;
        }
        .grid-article +div[id^="zone"].goAdverticum.goa-embedded >div >.mobile-pr-article {
            margin-bottom: 0;
            padding-top: 20px;
            background: #fff;
        }
        @media screen and (max-width: 767px) {
            .article-view {
                padding: 0;
            }
            .article-content {
                margin:0 auto;
            }
            &.article-page .grid-view {
                background: #fff;
            }

            &.column-page .lead-article .text:after {
                display: none;
            }
        }

        @media screen and (min-width: 768px) {
            .parallax_top, .parallax_bottom {
                margin: 0 auto;
                position: relative;
                width: 690px;
                height: 640px;
                overflow: hidden;
            }
            .parallax_bottom {
                height: 480px;
            }
            .parallax_top {
                height: 280px;
            }
            .wrap .grid-view .content {
                background: #fff;
                padding: 40px 30px;
            }
            .footer {
                margin: 0px;
            }
            .article-view-wrap .article-view {
                padding: 0;
            }
            .article-content .adcaption {
                width: 100%;
                left:0;
            }
            &.article-page {
                .lead-article:last-of-type, .lead-article:nth-last-of-type(2) {
                    margin-bottom: 0;
                }
            }
            .lead-article {
                margin-bottom: 30px;
            }
            .article-content .mobile-pr-article {
                margin: 0 0 20px 0;
            }
        }

    }

    &.read-mode {
        &.parallax-ad {
            .lead-article,
            .grid-article,
            .placeholder-ad,
            .adcaption,
            .footer, 
            .content, 
            .more-button {
                background-color: #1a1a1a;
            }
            .wrap {
                background: transparent;
            }
            .grid-article, .adcaption {
                background-color: transparent;
            }
            .lead-article {
                background: #1a1a1a;
            }
            .white__bg {
                background-color: #1a1a1a;
                color: #fff;
            }
            .adcaption {
                left:0;
            }
            .mobile-pr-article {
                background: #333;
                margin: 0 0 20px 0;
            }
            &.article-page .grid-view {
                background: #1a1a1a;
            }
            .grid-view .grid-article {
                background: #1a1a1a;
            }

            .grid-view {
                background: #1a1a1a;
            }
            &.column-page  .grid-view {
                background: transparent;
            }
            .grid-article +div[id^="zone"].goAdverticum.goa-embedded >div >.mobile-pr-article {
                margin-bottom: 0;
                padding-top: 20px;
                background: #1a1a1a;
            }
            @media screen and (max-width: 767px) {
                &.article-page {
                    .white__bg {
                        padding: 20px;
                    }
                    .article-view {
                        padding: 0;
                    }
                }
            }
            @media screen and (min-width: 768px) {
                .article-view-wrap {
                    background: transparent;
                }
            }
        }
    }
}