/*defaults*/
.materialBoxShadowUltraLight{	box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.08);}
.materialBoxShadowLight{	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.materialBoxShadowMedium{	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.materialBoxShadowHard{	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
.materialBoxShadowBottom{	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);	        box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);}
.row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.container{
	max-width: 1250px;
}
/* remove spacing between middle columns */
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:8px;
  padding-left:8px;
}
/* remove right padding from first column */
.row.no-gutter [class*='col-']:first-child {
  padding-right:8px;
}
/* remove left padding from first column */
.row.no-gutter [class*='col-']:last-child {
  padding-left:8px;
}


/* only for column content visible */
.col-lg-1>div {background-color:#ddd;}

body{
	background: #f4f4f4;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Slab', serif;	
	font-weight: 700;
}

.navbar{
	background: rgba(0,0,0,0.3);
	transition: all .4s ease-in-out;
	/*border-bottom: 1px solid transparent;*/
	padding-top: 0;
	padding-bottom: 0;
	padding-bottom: 0px;
}
.navbar .navbar-brand{
	height: 80px;
	width: 80px;
	background: #e2590f;
	display: flex;
	align-items:center;
	justify-content: center;
	transition: all .4s ease-in-out;
	position: relative;
	top: 0px;
	box-shadow: 0 0px 8px rgba(0,0,0,0.2), 0 0px 2px rgba(0,0,0,0.3);
}
.navbar .navbar-brand img{ 
	transition: all .4s ease-in-out;	
}
.navbar .btn{
	opacity: 0;
	transition: all .4s ease-in-out;
	position: relative;
	top: -50px;
	border-radius: 20px;
	font-size: .9em;
	opacity: 1;
	top: 0;
}
.navbar .navbar-nav .btn span{ 
	display: none;
}
.navbar.shrinky{
	background:rgba(255,255,255,1);
	/*border-bottom: 1px solid #e8e8e8;	*/
		 box-shadow: 0 1px 3px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.04);
	padding-bottom: 0;
}
.navbar.shrinky .btn{
	opacity: 1;
	pointer-events: auto;
	top: 0;
}
.navbar.shrinky  .navbar-brand{
	width: 60px;
	height: 60px;
	top: 0;
	box-shadow: 0 0px 0px rgba(0,0,0,0.00), 0 0px 2px rgba(0,0,0,0.00);
}
.navbar.shrinky  .navbar-brand img{ 
	max-width: 50px;
}
.nav-item{ 
	display: flex;
	align-items: center;
	margin: 0 10px;
}
.nav-item a{ 
	color: #454545;
	color: #ffffff;
	transition: all .4s ease-in-out;
}
.navbar.shrinky .nav-item a{ 
	color: #454545;
}
.navbar .btn{ 
	margin-right: 20px;
	border: 1px solid transparent;
	box-shadow: none;
	color: #ffffff !important;
}
.navbar .btn:last-of-type{
	margin-right: 0;
}
.navbar .btn.btn-secondary,.navbar .btn.btn-secondary:hover, .navbar .btn.btn-secondary:active{
	background: #39bfe8;
	border: 1px solid #39bfe8;
    color: #ffffff !important;
    padding: .575rem 1.75rem;	
}
.navbar-toggler{
	border: none;
	
}
.navbar-toggler i{ 
	transition: all .4s ease-in-out;
	top: 0;
	color: #ffffff;
	font-size: 2em;
}
.navbar.shrinky .navbar-toggler i{
	color: #454545;
}
.navbar .btn-primary:focus {
    box-shadow: none;
}
.title{
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.title:after{
	position: absolute;
	bottom: 0;
	width: 80px;
	height: 4px;
	background:#fe8c00;
	content: '';
	display: block;
}
.text-center .title, .title.text-center{
	
}
.text-center .title:after, .title.text-center:after{
	left: 50%;
	transform: translateX(-50%);
}
ul.icon-list { 
	list-style-type: none; /* remove default bullet */
	margin: 16px 0;
	padding-left: 2em;
}
.icon-list li {
	line-height: 1.25em;
	padding: 0 0 5px 0; /* match the icon width */
	
}
.icon-list li::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
	color: #43CC9E;
	content: "\e876"; /* escaped unicode for the icon */
	float: left;
	width: 1.6em; /* icon width + space */
	position: absolute;
	left: 15px;
}
.material-icons{
	position: relative;
	top: 4px;
}
.btn-primary {
	background: #fe8c00;
	border: 1px solid rgba(0,0,0,0.1);
	/*border-bottom: 3px solid rgba(0,0,0,0.2);*/
	border-radius: 4px;
	padding: .575rem 1.75rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-primary:hover,.btn-primary:focus, .btn-primary:active{
	background: #f7712c;
	border: 1px solid rgba(0,0,0,0.1);
	/*border-bottom: 3px solid rgba(0,0,0,0.2);	*/
	box-shadow: 0 5px 10px rgba(0,0,0,0.12), 0 4px 12px rgba(0,0,0,0.24);
}
.btn-primary.focus, .btn-primary:focus{
box-shadow: 0 0 0 0.2rem rgba(247, 112, 45, .3);
background: #fe8c00;
}
.btn-hover{ 
  position: relative;
  overflow: hidden;
}
.btn-hover span{
	position: absolute;
	display: block;
	width: 0;
	height:0;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.2);
	background-color: rgba(0,0,0,0.05);
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	transform: translate(-50%, -50%);
	z-index: -1;
}
.btn-hover:hover   span{
	width: 225%;
    height: 562.5px;
}
.btn-cta{
	font-weight: 300;
	text-transform: uppercase;
	border-radius: 20px;
	font-size: 1em;
	padding: 10px 25px;
	background: #fe8c00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fe730a, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fe730a, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	white-space: normal;
}
.btn-cta:hover{ 

	background: #fe8c00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fe730a, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fe730a, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-cta-2{
	font-weight: 300;	
	text-transform: uppercase;
	border-radius: 20px;
	font-size: 1em;
	padding: 10px 25px;
	background: #39bfe8;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #42d4e0, #39bfe8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #42d4e0, #39bfe8);

	
}
.btn-cta-2:hover,.btn-cta-2:focus, .btn-cta-2:active{ 
	border-radius: 20px;
	font-size: 1em;
	padding: 10px 25px;
	background: #39bfe8 !important;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #42d4e0, #39bfe8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #42d4e0, #39bfe8);
}
.btn-icon{
	position: relative;
	padding-right: 68px;
}
.btn-icon i{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,0.05);
	padding: 0 10px;
    display: flex;
    align-items: center;	
	padding-bottom: 4px;
	border-left: 1px solid rgba(0,0,0,0.05);
}
.btn-icon.btn-icon-left{
	position: relative;
	padding-left: 68px;
}
.btn-icon.btn-icon-left i{
	right: auto;
	left: 0;
	border-right: 1px solid rgba(0,0,0,0.05);
	border-left: none;
}
.btn-scroll{
	position: absolute !important;
    bottom: -50px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;	
}
.btn-scroll span{ 
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box
}
.btn-scroll span::before{ 
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scrollAnimate 2s infinite;
    animation: scrollAnimate 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes scrollAnimate {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollAnimate {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
strong{
	font-weight: 700;
}
.text-small{
	font-size: .85em;
	line-height: 120%;
}
.text-small i{
	font-size: 1em;
	top: 2px;
	margin-right: 5px;
}
.white{ 
	color: #ffffff;
}
img{
	max-width: 100%;
	height: auto;
}
/*sections*/
section{
	position: relative;
	overflow: hidden;
	background: #f4f4f4;
}
section::before, section::after{ 
	position: absolute;
	top: 50%;
	left:-80px;
	width: 160px;
	height: 160px;

	display: block;
	background: #fe730a;
	transform: rotate(-45deg) translateY(-50%);
	opacity: .5;
}
section::after{
	left: -160px;
	top: 50%;	
	width: 320px;
	height: 320px;	
	transform: rotate(-45deg) translateY(-50%);	
	opacity: .3;
}
.hero{
	font-size: 1.2em;
	position: relative;
	background-image: url(../images/hvg_fal.jpg);
	background-size: cover;
	background-attachment:fixed;
	background-position: center center;
	min-height: 45vh;
	align-items:center;
	color: #ffffff;
}
.hero *{
	position: relative;
	z-index: 2;
}
.hero:before {
	z-index: 1;
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #ff4b1f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(110deg, #ff9068, #ff4b1f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(110deg, #ff9068 20%, #ff4b1f 75%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-image: linear-gradient(110deg,#002f4b 20%,#dc4225 75%);
	opacity: .6; 
}
.hero h1{ 
	
	font-weight: 900;
	font-size: 3em;
	position: relative;
}
.hero h2{ 
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	font-weight: 500;
}
.hero .background-block{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/pexels-photo-826349.jpeg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	display: flex;	
}
.hero-thanks{
	min-height: 100vh;
}
.hero-content-wrapper{
	background: rgba(0,0,0,0.2);
	border-radius: 2px;
}
.hero-content{ 
	background: #f4f4f4;
	color: #454545 !important;
	border-radius: 2px;
}
.carousel{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
.carousel-inner{
	height: 100%;
}

.carousel-item{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.donate{
	position: relative;
	top: -50px;
	z-index: 2;
	
}
.card{ 
	height: 100%;
	border-radius: 2px;
	border: none;
}
.card .title{ 
	font-size: 1.25em;
}
.card h4{ 
	font-size: 1.05em;
	margin-bottom: 0;
}
.card.product{
	box-shadow: 0 0px 6px rgba(0,0,0,0.12), 0 0px 4px rgba(0,0,0,0.24);
	transition: all .4s ease-in-out;
	position: relative;
	top: 0;
}
.card.product:hover{ 
	box-shadow: 0 3px 12px rgba(0,0,0,0.22), 0 2px 18px rgba(0,0,0,0.44);
	top: -10px;
}
.card.product .card-header{
	position: relative;
	padding: 0;
	overflow: hidden;
	height: 200px;
	
}
.card-header:first-child {
    border-radius: 0;
}
.card.product .card-header:before{ 
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

opacity: .5;	
}
.card.product .card-header .card-image{ 
	position: absolute;
	top: 0%;
	left: 50%;
	width: auto;
	min-width: 100%;
	height: 200px;
	min-height: 100%;
    transform: translateX(-50%) ;	
	z-index: 1;
}

.card.product .card-header .card-title{
	z-index: 2;
    position: absolute;
    top: 40%;	
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: 900;
}
.card.product .card-header .card-price{
	z-index: 2;	
    position: absolute;
     bottom: 0;
    left: 50%;
    transform: translateX(-50%) ;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    font-size: 1em;
    font-weight: 300;
}
.card.product .card-header .card-price .amount{
	font-weight: 700;
	font-size: 120%;
	margin-right: 5px;
}
.card.product .card-header .card-price .duration{
	font-size: 90%;
}
.card.product .card-body .short-description{
	display: flex;
	align-items: center;
}
ul.product-features{
	margin:0;
	padding: 0;
	list-style-type: none;
	width: calc(100% + 2.5rem);
	margin-left: -1.25rem;
}
ul.product-features li{ 

}
ul.product-features li:nth-child(odd){
	background: #f4f4f4;
}

ul.product-features li {
	padding: 5px 1.25rem;	
	padding-left: 40px;
	position: relative;
}
ul.product-features li::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
	color: #43CC9E;
	content: "\e876"; /* escaped unicode for the icon */
	position: absolute;
	left: 10px;
}
ul.product-features li.icon-plus{
	padding-left: 0;
} 
ul.product-features li.icon-plus:before{
	content: '';
}
.lead-block{ 
	background: #ffffff;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 0px 8px rgba(0,0,0,0.04), 0 0px 2px rgba(0,0,0,0.08);
}
.lead-block.lead-block-gray{
	background: #f4f4f4;
	box-shadow: 0 0px 8px rgba(0,0,0,0.09), 0 0px 2px rgba(0,0,0,0.09);	
}


.hvg-copy{
background: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(110deg, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(110deg, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		
}

.toggle:last-child {
  border-bottom: 1px solid #dddddd;
}
.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid #dddddd;
  margin-bottom: 6px;
}
.toggle .toggle-title h3 {
  font-size: 20px;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  font-weight: 200;
}
.toggle .toggle-inner {
  padding: 7px 25px 10px 25px;
  display: none;
  margin: -7px 0 6px;
}
.toggle .toggle-inner div {
  max-width: 100%;
}
.toggle .toggle-title .title-name {
  display: block;
  padding: 25px 25px 14px;
  padding-left: 0;
}
.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px;
}
.toggle .toggle-title i {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 20px;
  right: 0;
}
.toggle .toggle-title i:before{ 
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
	color: #898989;
	content: "\e145"; /* escaped unicode for the icon */	
	position: absolute;
	top: 0;
	left: 0;
}
.toggle .toggle-title.active i:before {
	content:"\e15b";
}


footer{
	background-color:#454545;
	color: #ffffff;
	position: relative;
	z-index: 2;
}
footer a,footer a:hover{ 
	color: #ffffff;
}
footer h6{ 
	display: inline-block;
	margin-right: 15px;
}

.icon-address, .icon-phone, .icon-email{
	display: inline-block;
	width: 16px;
	height: 16px;
}
.icon-address{
	background: url(../images/icon-address.png) center center no-repeat;
}
.icon-phone{
	background: url(../images/icon-phone.png) center center no-repeat;
}
.icon-email{
	background: url(../images/icon-email.png) center center no-repeat;
}
footer span[class^=icon-]{
	position: relative;
	top: 1px;
	margin-right: 5px;
}
footer .row [class^=col] {
}
footer .d-flex{ 
	flex-wrap: wrap;
}
footer .hvg-logo a{
    /*display: inline-block;
    background: #ef7303;
    padding: 26px 10px;
    position: relative;
    height: 100%;*/	
	line-height: 1;
}
footer .hvg-logo a img{
	max-height: 80px;
	display: inline-block;
}
@media only screen and (max-width: 1200px) {
	footer .copyright{ 
		width: calc(30% - 80px);
	}
	footer .contact{ 
		width: 30%;
	}
	footer .privacy{ 
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 992px) {
	.navbar{ 
		padding: 0;
	}
	.navbar-nav{ 
		display:block;
	}
	.nav-item{
		width: 100%;
		text-align: center;
		border-bottom: 1px dashed rgba(0,0,0,0.05);
		margin: 0;
	}
	.nav-item a{
		display: inline-block;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
	.nav-item a.btn{ 
		width: auto;
		min-width: 50%;
		margin: 5px auto;
		margin-right: auto !important;
	}	
	.navbar-collapse{
		background: rgba(0,0,0,0.6);
		box-shadow: 0 0px 8px rgba(0,0,0,0.08), 0 0px 2px rgba(0,0,0,0.08);
	}
	.navbar.shrinky .navbar-collapse{
		background: rgba(0,0,0,0.02);
		width: calc(100% + 80px);
	}
}
@media only screen and (max-width: 768px) {
	.hero-content-wrapper{
		padding: 40px 0;
	}
	.hero-content-wrapper .hero-content{ 
		margin-bottom: 20px;
	}	
	.lead-block{
		padding: 30px;
	}
    .lead-block *{
		text-align: center !important;
	}
	.lead-block .w-100{
		max-width: 100%;
		width: auto !important;
	}
	section.py-5{
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}
	footer .d-flex{

	}
	footer .copyright{ 
		width: 80%;
		
	}
	footer .contact{ 
		width: 50%;
		margin-right: 0;
		margin: 15px 0;
	}
	footer .privacy{ 
		width: 100%;
		text-align: center;
	}	
	.custom-order-sm-12{
		-webkit-box-ordinal-group: 13;
		-ms-flex-order: 12;
		order: 12;		
	}
	.custom-order-sm-1{
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;		
	}
}
@media only screen and (max-width: 550px) {
	.navbar .navbar-nav .btn{ 
		font-size: 0;
		margin-right: 0;
	}
	.navbar .navbar-nav .btn span{ 
		display: block;
		font-size: 14px;
	}	
	footer .copyright{ 
		max-width: calc(100% - 80px);
		width: auto;
	}	
	footer .contact{ 
		width: 100%;
	}
	footer .privacy{ 
		text-align: left;
	}	
}
@media (min-width: 990px) {
	[nvs-animation-type] {
		visibility: hidden;
	}
	.vivify{
		visibility: visible;
	}		

}
.share-toggle{
	display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
	margin-bottom: 10px;
    background: rgba(0,0,0,0.2);
	font-size: .85em;
	cursor: pointer;
}
.share-toggle-2{
	font-size: 1.2em;
	color: #ffffff;
	font-weight: 300;
	text-transform: uppercase;
	padding: 15px 40px;
	background: #ffffff;
	color: #343434;
	max-width: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.share-buttons{
	opacity: 0;
	position: relative;
	bottom: -20px;
	transition: all .4s ease-in-out;
}
.share-buttons.active{ 
	opacity: 1;
	bottom: 0;
}
.share-buttons a span{ 
	display: inline-flex;
    width: 50px;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.2em;
	color: #ffffff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all .2s ease-in-out;
}
.share-buttons a:hover{
	text-decoration: none;
}
.share-buttons a:hover span{
	text-decoration: none;
}
.share-buttons a:nth-child(1):hover span{
	background: #3b5999;
}
.share-buttons a:nth-child(2):hover span{
	background: #55acee;
}
.share-buttons a:nth-child(3):hover span{
	background: #dd4b39;
}
.share-buttons a:nth-child(4):hover span{
	background: #0077B5;
}


/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

.sales-card-text{
    font-size: 13px !important;
    color: #fff!important;
    background-color: #39bfe8 ;
    padding: 16px !important;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-weight: 400;

}