/* Telekom Gazdaság dobozszponzoráció */
.dobozszponzoracio-telekom {
  position: relative;
  margin-bottom: 30px;
}
.dobozszponzoracio-telekom section article {
  margin: 15px;
}
.dobozszponzoracio-telekom h4 {
  background: #E30074 url(http://static.hvgrt.hu/rovatszponzoracio/telekom/20140911/telekom-header.jpg) right 0 no-repeat;
  /*color: #fff;*/
  height: 40px;
  text-indent: -9999px;
}
.dobozszponzoracio-telekom > a {
  color: #fff;
  text-decoration: none;
}
.dobozszponzoracio-telekom .more {
  color: #ff6600;
}
.dobozszponzoracio-telekom .box {
  border: 0;
  margin: 5px;
  box-shadow: none;
}
.dobozszponzoracio-telekom .box header {
  display: none;
}
.dobozszponzoracio-telekom .box .more {
  display: none;
}
.dobozszponzoracio-telekom .box a.more {
  color: #fff;
  text-decoration: none;
}
.dobozszponzoracio-telekom .caption {
  bottom: -15px;
  height: 10px;
  left: 5px;
  position: absolute;
  width: 50px;
  background: url(http://hvg.hu/Content/i/banner/adlabel-horizontal.png) 0 0 no-repeat transparent;
}
