#videobody {
    padding: 0 0 20px 20px;
    background: #2C2C2C url(http://images.hvg.hu/skins/default/img/gradient.png) no-repeat left top;
    color: #FFF;
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #E4E4E4;
    overflow: hidden;
    zoom: 1;
}

#videobody h1.h1replace {
	float: right;
	margin: 0;
	padding: 0 119px 0 0;
	background: url(http://images.hvg.hu/skins/default/img/gradient.png) no-repeat right top;
	font-size: 14px;
	line-height: 65px;
}

#videobody h2.h2replace {
	float: right;
	margin: 0;
	padding: 0 119px 0 0;
	background: url(http://images.hvg.hu/skins/default/img/gradient.png) no-repeat right top;
	font-size: 14px;
	line-height: 65px;
}

#videobody h1.h1replace img {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

#videobody h2.h2replace img {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

#videobody h2.exh1, #videobody h1 {
    font-weight: bold;
    font-size: 28px;
    margin: 15px 0;
}

#videobody h2.exh1 a, #videobody h2.h2replace a { color: #FFF }

#videobody h2.h2replace a:hover { text-decoration: none }

.meta {
    width: 230px;
    background: #202020;
}

.meta p {
    padding: 10px;
    border-bottom: 1px solid #101010;
}

.meta p.tags { padding: 0 10px 10px 10px }

#videobody a { color: #FF9252 }

.meta p.lastmetaitem {
    border-top: 1px solid #313131;
    border-bottom: none;
}

#videobody .meta h6 {
    margin: 0;
    padding: 10px 10px 2px 10px;
    border-top: 1px solid #313131;
    font-size: 13px;
    font-weight: bold;
}

.meta ul {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #101010;
}

.leftcolumn_video {
    width: 610px;
    float: left;
    padding: 10px 0 0 0;
    border-top: 1px solid #303030;
}

.rightcolumn_video {
    width: 330px;
	margin: 0 10px 0 0;
    padding: 10px 0 0 20px;
    float: right;
    border-top: 1px solid #303030;
}

#videobody iframe {
    clear: both;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #171717;
}

#videobody #videoContainer iframe { padding: 0 }

#videobody .banner2 .bannerframe { border: none }

#videobody .banner2 .bannerframe .bannercontainer {
    border: none;
    padding: 0;
}

#videobody .banner2 td { background-position: right bottom }

a.imageframe_wide img, a.imageframe_wide_small img {
    padding: 1px;
    border: 1px solid #2C2C2C;
}

#pg-content a.imageframe_wide img, a.imageframe_wide img {
    height: 90px;
    width: 166px;
    border: 1px solid #FFF;
}

a.imageframe_wide_small img {
    height: 58px;
    width: 98px;
}

a.imageframe_wide, a.imageframe_wide_small {
    display: block;
    border: 3px solid #151515;
}

#pg-content a.imageframe_wide { border: 3px solid #E7E7E7 }

a.imageframe_wide { width: 170px }

a.imageframe_wide_small {
    width: 102px;
    float: left;
    margin: 0 10px 0 0;
}

.third {
    width: 176px;
    padding: 0 0 0 20px;
    float: left;
    border-bottom: 1px solid #171717;
    height: 190px;
}

#videobody .third h2, #videobody .videoitem h2 {
    margin: 0;
    padding: 8px 0 10px;
    font-size: 15px;
}

#videobody .rightcolumn_video h2 { padding: 0 }

.first {
    margin: 0 0 0 20px;
    padding: 0;
}

#videobody .more_video {
    margin: 0 20px;
    padding: 10px 0 0 0;
    text-align: right;
    border-top: 1px solid #303030;
    clear: both;
    overflow: hidden;
    zoom: 1;
}

#videobody .more_video a {
    display: block;
    padding: 0 25px 0 0;
    background: url(http://images.hvg.hu/skins/default/img/more.png) no-repeat right;
    line-height: 18px;
    color: #FFF;
    font-weight: bold;
}

#videobody .rightcolumn_video .more_video { margin: 0 }

#videobody h6 {
    margin: 15px 0;
    font-size: 15px;
}

.videoitem {
    padding: 10px 0;
    border-bottom: 1px solid #171717;
    border-top: 1px solid #303030;
    overflow: hidden;
    zoom: 1;
}

.topvideoitem { border-top: none }

.darkgreybox {
    margin: 30px 0 0 0;
    padding: 0 0 10px 0;
    background: #262626;
    overflow: hidden;
    zoom: 1;
}

#videobody .darkgreybox h6 { margin: 15px 20px }

.darkgreybox .third {
    padding-top: 10px;
    border-top: 1px solid #313131;
}

.darkgreybox .firstrow {
    padding-top: 0;
    border-top: none;
}

.videoitembox {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #E6E6E6;
    overflow: hidden;
    zoom: 1;
}

.videoitembox h2 a { font-size: 15px }

.videoitembox h2 { margin: 0 10px 10px 10px }

#pg-content .videoitembox p { color: #4B4B4B }

.videoitembox .rightside {
    float: right;
    width: 420px;
}