#upprev_box {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: -400px;
    width: 360px;
    padding: 3px;
    border-left: 1px solid #F0F0F0;
    background-color: #FFF;
    -moz-box-shadow: 0 4px 10px #666;
    -webkit-box-shadow: 0 4px 10px #666;
    box-shadow: 0 4px 10px #666;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, direction=270, strength=7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, direction=270, strength=7)";
    _position: absolute;
    _top: 0;
}

#upprev_box h6 {
    margin: 0;
    padding: 7px 7px 0 7px;
    border-top: 3px solid #FFAD65;
    font: bold 11px Arial, Helvetica, Sans-Serif;
    text-transform: uppercase;
}

#upprev_box .num { color: #969696 }

#upprev_box h2 {
    margin: 5px 7px;
    font: bold 16px Arial, Helvetica, Sans-Serif;
    color: #004276;
}

#upprev_box button {
    border: none;
    padding: 0;
    position: absolute;
    top: 11px;
    right: 3px;
    width: 13px;
    height: 13px;
    background: #FFF url('http://images.hvg.hu/skins/default/img/Flyer/close_window.gif') no-repeat;
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
}

/* banner */

#upprev_box .bannerwrap { border: 0; }
#upprev_box .bannerwrap .goAdverticum { border: 0; padding: 0; }
#upprev_box a.caption { 
	display: block;
    position: absolute;
    z-index: 10;
	width: 40px;
	height: 9px;
	top: -15px;
	right: 0;
    background: url(http://images.hvg.hu/static/skins/default/img/adlabel_flyer.png) left bottom no-repeat;
}